<!--
GHOSTS ANIMATOR
Copyright 2020 Carnegie Mellon University.
NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING, BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT, TRADEMARK, OR COPYRIGHT INFRINGEMENT.
Released under a MIT (SEI)-style license, please see license.txt or contact permission@sei.cmu.edu for full terms.
[DISTRIBUTION STATEMENT A] This material has been approved for public release and unlimited distribution.  Please see Copyright notice for non-US Government use and distribution.
Carnegie Mellon® and CERT® are registered in the U.S. Patent and Trademark Office by Carnegie Mellon University.
DM20-0930
-->

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Animator Build Relationships</title>
    <link rel="stylesheet" type="text/css" href="/relationships/inspector.css"/>
</head>
<body>
    <div>
        <h1 id="animator-build-relationship">Animator Build Relationships</h1>
        <p>A view of related NPCs generated from GHOSTS ANIMATOR ON @DateTime.UtcNow.ToString("D").</p>
        <p>Build: <a href="#">9c427e49-1eb0-46fa-9a9f-0805dce4456c</a></p>
    </div>
    <script type="module">
        import define from '/relationships/index.js';
        import { Runtime, Inspector } from '/relationships/runtime.js';
        const runtime = new Runtime();
        const main = runtime.module(define, Inspector.into(document.body));
    </script>
</body>
</html>