@model List<Ghosts.Animator.Api.Infrastructure.Social.SocialGraph>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 id="animator-build-relationship">Social Graph Agents</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @if (!ViewBag.IsEnabled || Model == null)
            {
                <div>Sorry, but social graph does not appear to be enabled or has not been loaded.</div>
            }
            else
            {
                <ul class="list-group">
                    @foreach (var agent in Model)
                    {
                        <li class="list-group-item">
                            <img src="/api/npcs/@agent.Id/photo" height="16" width="16" alt="Profile thumbnail"/>
                            @agent.Name / <a href="view-relationships/profile/@agent.Id">Profile</a> / <a href="view-social/@agent.Id">Social Graph</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>